.dropdown-list {
  color: #777!important;
}

.dropdown-list:hover {
  background-color: #e1e3e9!important;
}

.username {
  color: #777!important;
  display: table!important;
}

.username:hover {
  background-color: #fff!important;
}

.username > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.divider {
  background-color: #eee!important;
}
